.container {
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #fffbf2;
}

.tab-content {
  display: flex;
}

.logo-name-slogan {
  display: flex;

  & img {
    width: 9rem;
  }
}

.wellcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
